.tabuleiromini{
    display: grid;
    grid-template-columns: repeat(3, 45px);
    grid-template-rows: repeat(3, 45px);
    background-color: #7e7b79;
    border-radius: 4px;
    gap: 5px;
    justify-self: center;
    align-self: center;

}

.XGanhou{
    background-color: rgb(245, 108, 84);
    pointer-events: none;
}

.OGanhou{
    background-color: rgb(137, 171, 256);
    pointer-events: none;
}