.header{
    background-color: #7e7b79;
    /*#7e7b79*/
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0 0 10px 0;

}
#header-dentro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #79847e;
    height: 100px;
    width: 600px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0 0 10px 0;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2)
}
#nome-jogadores{
    display: flex;
    margin: 0 40px;
    flex-direction: column;

}
#comecar-jogo{
    margin: 0 40px;
}

.desabilitado{
    pointer-events: none;
}

.abilitado{
    pointer-events: auto;
}

strong{
    color: white;
}

input {
    font-family: "Arial Black";
}

.first{
    background-color: rgb(16, 114, 16);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}


.secund{
    background-color: rgb(173, 38, 38);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}