    .celula{
    background-color: #1E2225;
    border-radius: 4px; 
    color:white;
    font-size: 30px;
    }
    .jogavel:hover{
        background-color: #C4C3C4;
        border: solid 2px #4B4A4B;
        transition: 0.3s;
    }
    .X{
        color: rgb(45, 136, 256);
    }
    .O{
        color: rgb(254, 69, 36);
    }
    
    