    .celula{
    background-color: #bbb8b5;
    border-radius: 4px; 
    color:white;
    font-size: 30px;
    }
    .jogavel:hover{
        background-color: #C4C3C4;
        border: solid 2px #4B4A4B;
        transition: 0.3s;
    }
    .X{
        
        color: rgb(254, 69, 36);
        font-weight: bold;
    }
    .O{
        color: rgb(45, 136, 256);
        font-weight: bold;
    }

    .XGanhou{
        background-color: rgb(245, 108, 84);
    }

    .OGanhou{
        background-color: rgb(137, 171, 256);
    }
    
    